@import "../index.css";

.portoContainer {
  padding: 0 300px 200px 300px;
}

.portoTitle {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 20px;
  gap: 16px;
}

.titleText {
  font-family: "Poppins";
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.titleIcon {
  width: 40px;
  height: 40px;
}

.desc {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 24px;
}

.links {
  font-family: "Poppins";
  font-size: 16px;
  font-weight: normal;
  color: var(--primary-color);
  margin: 0;
}
